@import 'responsive.css';



@import 'primeicons/primeicons.css';



@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/scrollbar';
@import 'swiper/css/effect-cube';
@import 'swiper/css/autoplay';
@import 'vue-tel-input/vue-tel-input.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


.loader-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-dots div:nth-child(1) {
    left: 8px;
    animation: loader-dots1 0.6s infinite;
}

.loader-dots div:nth-child(2) {
    left: 8px;
    animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(3) {
    left: 32px;
    animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(4) {
    left: 56px;
    animation: loader-dots3 0.6s infinite;
}

@keyframes loader-dots1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loader-dots3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes loader-dots2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

#inertia-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 20px;
    z-index: 9999;
}

@layer primevue;

@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 241, 127, 52;
        --color-fill: 244, 117, 33;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: var(--color-fill);
    }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.gradient {
    background: linear-gradient(100deg, #FF9E5E 10%, rgb(69, 67, 67) 100%);
}

.gradient2 {
    background: linear-gradient(80deg, #fd8b3f 20%, rgb(47, 46, 46) 100%);
}
