@import 'responsive.css';

@import 'vue-multiselect/dist/vue-multiselect.css';

@import 'primeicons/primeicons.css';



@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 241, 127, 52;
        --color-fill: 244, 117, 33;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: var(--color-fill);
    }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, -0px);
    }
}
